@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.main{
    margin: auto;
    width: 1024px;
    height: 1000px;
    background-color: rgb(242, 242, 242);
}


.contact{
    width: 100%;
    height: 40px;
    background-color: dimgray;
}

.data{
    color: white;
    font-size: 16px;
    float: left;
    height: 100%;
    margin: 10px 50px;
    text-transform: uppercase;
    text-align: center;
}


.header{
    width: 100%;
    height: 200px;
    margin-top: 0;
}

.hex{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin-left: 20px;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
}


.content{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}


.left-col{
    width: 45%;
    float: left;
    height: 100%;
    margin: 10px;
}


.experience{
    overflow: hidden;
}

.company{
    width: 200px;
    float: left;
}

.position{
    width: 220px;
    float: left;
    margin-left: 20px;
}







.title{
    width: 784px;
    height: 200px;
    float: left;
    text-align: center;
}

.name{
    top: 20%;
    position: relative;
    font-size: 50px;
    width: 50%;
    margin: auto;
    border-bottom: 2px solid dimgray;
    color: rgb(181, 224, 243);
    font-weight: bold;
}

span{
    text-transform: uppercase;
    color: dimgray;
}

.tit{
    top: 30%;
    position: relative;
    font-size: 20px;
    /* width: 50%; */
}



.right-col{
    width: 48%;
    float: right;
    height: 100%;
    /* background-color: seashell; */
    margin: 10px;
}

h1{
    color: rgb(45, 148, 180);
    text-transform: uppercase;
    font-size: 24px;
    height: 36px;
    border-bottom: 1px solid black;
}

.exp, .education{
    margin-bottom: 40px;
}

p{
    color: dimgray;
}

 .highlight {
    color: rgb(45, 148, 180)
}

p.title{
    font-style: italic;
    width: 100%;
    text-align: left;
    height: 20px;
}

p.entry{
    width: 50%;
}

.progress{
    width: 30%;
    float: right;
}

.entry{
    width:100%;
}

.lang{
    width: 40%;
}

.lang-cont{
    /* border: solid black 1px;
    background-color:red; */
    width: 40%;
    float: left;
    margin-bottom: 10px;
}

.dot, .dot-gray {
    height: 16px;
    width: 16px;
    background-color: rgb(45, 148, 180);
    border-radius: 50%;
    display: inline-block;
}

.dot-gray{
    background-color: rgb(45, 148, 180, .25);
}

.entry{
    width: 100%;
}

.skill{
    width: 200px;
    float: left;
}

.score{
    width: 100%;
}





































/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


